<!doctype html>
<html>
    <head>
        <title>DNS Rebinding</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <div class="container" style="text-align: center">
   	        <h1>DNS Rebinding Attack</h1>
            <button type="button" class="btn" onclick="launchAttack()">Try me!</button>
        </div>
    </body>
</html>
